{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<section id="content" class="body">
<h1 class="entry-title">{{ title }}</h1>
{% for page in pages %}
  {% if page.title == 'Projects' %}
  {{ page.content }}
  {% endif %}
{% endfor %}
<h1>Project Proposal List</h1>
<ul>
{% for page in hidden_pages %}
  {% if page.template == 'project-page' %}
  <li>
    <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a> </br>
    <strong>{{ page.org }}</strong>, {{ page.location }} </br>
    Relevant Skills: {{ page.skills }} </br>
    ID: <strong>{{ page.id }}</strong>
  </li>
  {% endif %}
{% endfor %}
</ul>
</section>
{% endblock %}
